.header_login {
    background-color: #f8f6f0;
  }
  
  .header_login h1 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .header_login .link_home {
    color: #727272;
    font-size: 18px;
  }
  
  .header_login .span_login {
    color: #3f3e3e;
    font-size: 18px;
  }
  .form_login .login_button {
    background-color: #1f1f1f;
    font-size: 22px;
    padding: 10px 30px;
    margin-block: 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.5s;
  }
  .form_login form input {
    padding: 15px 13px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .form_login .login_button:hover {
    background-color: #d2ef9a;
    color: black;
    cursor: pointer;
  }
  .new_account {
    border-left: #3f3e3e 1px solid;
  }
  
  .new_account div {
    padding-left: 10px;
  }
  .new_account .register_button {
    background-color: #1f1f1f;
    font-size: 22px;
    padding: 10px 30px;
    margin-block: 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.5s;
  }
  .new_account h3 {
    font-weight: bold;
    font-size: 30px;
  }
  .new_account p {
    line-height: 25px;
    font-size: 18px;
    padding-block: 13px;
  }
  .new_account .register_button:hover {
    background-color: #d2ef9a;
    color: black;
    cursor: pointer;
  }
  
  @media screen and (max-width: 768px) {
    .new_account {
      border-left: none;
    }
  }
  