.header_profile {
    background-color: #f8f6f0;
  }
  
  .header_profile h1 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .header_profile .link_home {
    color: #727272;
    font-size: 18px;
  }
  
  .header_profile .span_profile {
    color: #3f3e3e;
    font-size: 18px;
  }


.about-image {
    background-image: url('../../assets/images/mainSlider/image5.jpg'); 
    background-size: cover;
    background-position: center;
    height: 30rem;
    border-radius: 13px;
    /* Set the height as needed */
}

.about-text {
    padding: 20px;
}

.first-section {
    padding-top: 100px; /* Adjust as needed */
}

.second-section {
    padding-top: 100px; /* Adjust as needed */
}

.first-section p,
.second-section p {
    font-size:1.2rem; /* Set the desired font size */
    font-style: italic; /* Set the desired font style */
    line-height: 1.3; /* Set the desired line height */
}

/* Tablet screens */
@media (max-width: 768px) {
    .first-section p,
    .second-section p {
        font-size: 1.4rem; /* Adjust the font size for tablets */
    }
}

/* Mobile screens */
@media (max-width: 576px) {
    .first-section p,
    .second-section p {
        font-size: 1.2rem; /* Adjust the font size for mobile devices */
    }
}
