.img_style {
  border-radius: 12px;
}

.wish_style {
  border: 2px solid #1f1f1f;
  padding: 9px;
  margin-block: 5px;
  border-radius: 10px;
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.wish_style:hover {
  background-color: #1f1f1f;
}
.cart {
  background-color: #fff;
  filter: drop-shadow(rgba(0, 0, 0, 0.45) 1px 1px 1px);
  padding: 10px 25px;
  border-radius: 50px;
  border-top-left-radius: 0;
  transition: 0.5s;
}
.cart i {
  font-size: 19px;
}
.cart:hover i {
  color: black;
  transition: 0.5s;
}
.cart:hover i {
  color: #fff;
}
.cart:hover {
  cursor: pointer;
  background-color: black;
  color: white;
}

.wish_style:hover .wish_icon {
  color: white;
}
.cart_button_style {
  border: 3px solid #1f1f1f;
  border-radius: 10px;
  color: #1f1f1f;
  background-color: transparent;
  transition: all 0.5s;
}

.cart_button_style:hover {
  background-color: #1f1f1f;
  color: white;
}

.sale_product {
  display: inline-block;

  background-color: black;
  color: white;
  /* padding: 7px 10px; */
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  display: inline-block;
  padding: 10px 25px;
  border-radius: 50px;
  border-top-left-radius: 0;
}

.Font ,button {
  font-family: "Oswald", sans-serif;
}
