.header_UpdateProduct {
    background-color: #f8f6f0;
  }
  
  .header_UpdateProduct h1 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .header_UpdateProduct .link_home {
    color: #727272;
    font-size: 18px;
  }
  
  .header_UpdateProduct .span_UpdateProduct {
    color: #3f3e3e;
    font-size: 18px;
  }
  
  .form_UpdateProduct .UpdateProduct_button {
    font-size: 22px;
    padding: 10px 30px;
    margin-block: 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.5s;
    background-color: #ff919d;
    padding: 10px;
    color: black;
    border-radius: 7px;
    border: none;
    transition: all 0.5s ease;
    margin-inline: 7px;
    padding: 10px 25px;
    border-radius: 50px;
    border-top-left-radius: 0;
    font-weight: bold;
  }
  .form_UpdateProduct form input,
  .form_UpdateProduct form select,
  .form_UpdateProduct form textarea {
    padding: 15px 13px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .form_UpdateProduct .UpdateProduct_button:hover {
    background-color: black;
    padding: 10px;
    color: #ff919d;
    border-radius: 7px;
    border: none;
    transition: all 0.5s ease;
    margin-inline: 7px;
    padding: 10px 25px;
    border-radius: 50px;
    border-top-left-radius: 0;
    font-size: 20px;
    cursor: pointer;
  }
  .form_UpdateProduct {
    padding: 25px 25px;
    border-radius: 20px;
    background-color: #fff;
  
    filter: drop-shadow(rgba(0, 0, 0, 0.45) 1px 1px 1px);
  }