.header_AddProduct {
    background-color: #f8f6f0;
  }
  
  .header_AddProduct h1 {
    font-size: 45px;
    font-weight: bold;
    padding-bottom: 10px;
  }
  
  .header_AddProduct .link_home {
    color: #727272;
    font-size: 18px;
  }
  
  .header_AddProduct .span_AddProduct {
    color: #3f3e3e;
    font-size: 18px;
  }
  .form_AddProduct .AddProduct_button {
    background-color: #1f1f1f;
    font-size: 22px;
    padding: 10px 30px;
    margin-block: 15px;
    border-radius: 10px;
    color: white;
    transition: all 0.5s;
  }
  .form_AddProduct form input ,  .form_AddProduct form select,  .form_AddProduct form textarea{
    padding: 15px 13px;
    margin-top: 10px;
    border-radius: 10px;
  }
  
  .form_AddProduct .AddProduct_button:hover {
    background-color: #d2ef9a;
    color: black;
    cursor: pointer;
  }
 